html,
body {
    margin: 0;
    padding: 0;
    color: white;
}

.search_terms {
    text-align: center;
}

.search_terms li {
    display: inline-block;
    color: black;
    left: 50%;
}

.search_terms label {
    color: white;
}

.boxes label {
    color: black;
}

.search_terms button:hover {
    background: rgb(94, 91, 91);
}

#mainContainer {
    margin-top: 5px;
    width: 100%;
    padding: 50px;
    height: 800px;
}

.comparisonHolder,
.populationHolder,
.busyHolder, 
.timeHolder,
.activeVehicleHolder,
.containerYearHolder{
    height: 100%;
    width: 100%;
    text-align: center;
}

#populationChart{
    color: white;
}

canvas{
    position: absolute;
}

.population_search,
.boxes,
.hours_dropdown,
.date_container {
    text-align: center;
}

#searchbar,
input[type=search] {
    padding: 6px;
    margin-top: 8px;
    margin-right: 2px;
    font-size: 17px;
    width: 300px;
    color: black;
    border: 1px solid black
}

#switchGraph{
    display: none;
    z-index: 99999;
}

.loader {  
    position: fixed;
    display: none;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 20px solid #3498db;
    width: 200px;
    height: 200px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    z-index: 9999;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -100px;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/*~~~~~Time popularity~~~~~*/

.hours_dropdown label {
    color: black;
}

.hours_dropdown li {
    display: inline-block;
    color: black;
    left: 50%;
}

/*~~~~~Active Vehicles~~~~~*/
.date_container{
    padding-top: 10px;
}

.date_container label {
    color: black;
    
}

.date_container [type=date] {
    width: 80%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    color: black;
    font-size: 14px;
}

.date_container li {
    color: black;
    display: inline-block;
}

.date_container ul {
    color: black;
}


#checkArray{
    color: black;
    border: none;
}
label{
    color: white;
    font-size: 18px;
}

#population_submit, #submit_day, #submit_month, #hours_submit, #date_submit, #switchGraph{
    padding: 6px;
    margin-top: 8px;
    margin-right: 20px;
    background: rgb(50, 50, 50);
    font-size: 17px;
    border: none;
    cursor: pointer;
    color: white;
}